.env
.idea/agent.iml
.idea/misc.xml
.langgraph_api/.langgraph_checkpoint.1.pckl
.langgraph_api/.langgraph_checkpoint.2.pckl
.langgraph_api/.langgraph_checkpoint.3.pckl
.langgraph_api/.langgraph_ops.pckl
.langgraph_api/.langgraph_retry_counter.pckl
.langgraph_api/store.pckl
.langgraph_api/store.vectors.pckl
.idea/agent.iml
src/__pycache__
src/OpenAlfred.egg-info
src/tools/__pycache__
assets
src/utils/__pycache__/
tests/test_supervisor.py
agent_chrome_profile/
src/routers/__pycache__/
src/db/__pycache__/
src/body/windows_system/eye/data/