.env
.idea/
.venv/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# LangGraph persistence
.langgraph_api/

# Local data & assets
# assets/
agent_chrome_profile/
src/body/windows_system/eye/data/
logs/

# Testing
tests/test_supervisor.py
logs/
src/logic/__pycache__/
src/logic/nodes.py
data/
src/core/
chroma_db/

assets/audio_cache/
assets/custom_samples
assets/models
assests/transitions
assets/transitions/
assets/sounds/
